i {
    font-style: italic;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}


footer{
    display: grid;
    padding: 5%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
}


.sections-and-more{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: start;
    grid-column: span 4; 
    margin-top: 70px;
    padding: 1rem 0px;
    padding-top: 0;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 1px solid rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}

.section h4, .more h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.section--item {
    display: grid;
    color: #A9A9A9;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.section--item li{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.section--item li:hover span{
    text-decoration: underline;
    cursor: pointer;
}


.other {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-bottom: 1px solid rgb(51, 51, 51);
    padding: 1rem 0px;
    margin-bottom: 10px;
    align-items: start;
    box-sizing: border-box;
}

#other-section1{
    grid-template-columns: repeat(2, 1fr);
}

#other-section2{
    grid-template-columns: repeat(2, 1fr);
}

.more, .section{
    color: white;
    font-family: Cygnet-Logo;
    padding: 2rem 0px;
}

.icons-copyright-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 30px; 
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(51, 51, 51);
    width: 100vw;
    margin-left: calc(-1 * (5%));
    padding-left: 5%;
    padding-right: 5%;
}

.copyright {
    flex-basis: 100%;
    text-align: left;
    color: #A9A9A9;
    font-size: 12px;
    margin: 0;
    order: 1;
    word-wrap: break-word;
    margin-bottom: 0;
}

#text-copyright {
    color: #A9A9A9;
    font-size: 12px;
    text-align: left;
}

.social-icons {
    color: #A9A9A9;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    order: 2;
}

.social-icon{
    cursor: pointer;
    padding-left: 10px;
    font-size: 32px;
}

.social-icon:hover{
    color: white;
}

@media (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }

    .sections-and-more, .other {
        grid-template-columns: 2fr;
    }

    .section, .more {
        margin-bottom: 20px;
    }

    .section--item {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .icons-copyright-container{
        display: flex;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        order: 2;
        text-align: center;
    }

    .social-icons {
        order: 1;
        justify-content: center; 
        gap: 15px;
    }
}

@media (min-width: 801px) {
    .icons-copyright-container {
        flex-wrap: nowrap;
        justify-content: space-between; 
    }

    .copyright {
        order: 1;
        width: 100%;
        flex-grow: 1; 
    }

    .social-icons {
        flex-wrap: wrap;
        justify-content: flex-end;
        order: 2;
        width: 100%;
    }
}


.cookies-footer{
    grid-column: span 4;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #A9A9A9;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box; 
}

#cookie:hover{
    cursor: pointer;
}