i {
    font-style: italic;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}


footer{
    display: grid;
    padding: 2rem;
    grid-gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}


.sections-and-more{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: start;
    grid-column: span 4; 
    margin-top: 70px;
    padding: 2rem 0px;
    padding-top: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.section h4, .more h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.section--item {
    display: grid;
    color: #A9A9A9;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.section--item li{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.section--item li:hover span{
    text-decoration: underline;
    cursor: pointer;
}


.other {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
    padding: 2rem 0px;
    margin-bottom: 10px;
    align-items: start;
    box-sizing: border-box;
}

#other-section1{
    grid-template-columns: repeat(2, 1fr);
}

#other-section2{
    grid-template-columns: repeat(2, 1fr);
}

.more, .section{
    color: white;
    font-family: Cygnet-Logo;
    padding: 2rem 0px;
}

.icons-copyright-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 30px; 
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

#footer-copyright {
    color: #A9A9A9;
    font-size: 12px;
    flex-grow: 1;
    word-wrap: break-word;
    flex-grow: 1;
    margin-bottom: 0;
    order: 2;
}

.social-icons {
    color: #A9A9A9;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    order: 1;
}

.social-icon{
    display: flex;
    cursor: pointer;
    padding-left: 10px;
    font-size: 32px;
}

.social-icon:hover{
    color: white;
}

.copyright {
    margin-left: auto;
    text-align: left;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
    }

    .sections-and-more, .other {
        grid-template-columns: 2fr;
    }

    .section, .more {
        margin-bottom: 20px;
    }

    .section--item {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .icons-copyright-container {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    #footer-copyright {
        max-width: 100%;
        margin-top: 20px;
        order: 2;
    }

    .social-icons {
        justify-content: center;
        margin-top: 20px;
        max-width: 100%;
        order: 1;
    }

}


.cookies-footer{
    color: #A9A9A9;
}