header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 3%;
    font-family: sans-serif;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}

#books:target ~ header{
    background-color: white;
    color: black;
}

.toolbar-menu{
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.menu-icon{
    display: none;
    position: absolute;
}

.menu-icon:hover{
    cursor: pointer;
}

.menu-icon img{
    width: 30px;
    height: 25px;
}

.logo-container{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.center-logo {
    font-family: Cygnet-Logo;
    text-align: center;
    text-decoration: none;
    color: white;
}

.logo-top {
    display: block;
    font-size: 16px;
}

.logo-bottom {
    display: block;
    font-size: 24px;
}

#navigation-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.navigation--item{
    justify-content: space-between;
    margin-right: 15px;
    cursor: pointer;
}

.navigation--item:hover{
    text-decoration: underline;
}

.subscribe--button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.subscribe--button:hover {
    background-color: #0056b3;
}

.search-icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    #navigation-container {
        display: none;
    }

    .subscribe--button {
        display: block;
    }

    .menu-icon {
        display: block;
    }
}
