body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}



.picture-article{
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("../assets/images/essay-gif.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: 400px;
}

.picture-article-heading{
    font-family: Cygnet-Logo;
    font-weight: lighter;
}

.picture-article--content{
    color: white;
    max-width: 400px;
    flex-direction: column;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    line-height: 1.2;
}

#picture-article--heading{
    font-size: 40px;
    margin: 0%;
}

#picture-article--heading:hover{
    text-decoration: underline;
}

#picture-paragraph, #picture-contributors{
    color: white;
    line-height: 1.4;
    font-size: 18px;
}

#picture-contributors{
    font-size: 15px;
}







.article-container{
    padding: 2rem;
    display: block;
    align-content: center;
    scroll-snap-align: center;
}

.article-heading{
    font-family: Cygnet-Logo;
    font-weight: lighter;
    flex: none;
    text-align: center;
    margin-bottom: 50px;
}

.articles{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: auto;
    justify-content: space-between;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

.articles::-webkit-scrollbar{
    height: 8px;
}

.articles::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
}

.articles::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.article{
    flex: 0 0 300px;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    justify-content: center;
}

.article:not(:last-child)::after {
    content: "";
    margin-top: 10px;
    height: 220px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #ddd;
    transform: translateX(50%);
}

.article--image img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: relative;
}

#article-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 24px;
}

#article-title:hover{
    text-decoration: underline;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #5A5A5A;
}

.contributors{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}


.book-article{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.book-article--content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px; 
    box-sizing: border-box;
    padding: 20px;
}

.book--article--red-heading{
    font-family: Cygnet-Logo;
    font-weight: lighter;
    color: red;
    font-size: 12px;
}

#book-article--heading{
    font-size: 40px;
}

#book-article--heading:hover{
    text-decoration: underline;
}

#book-paragraph{
    font-family: ACalsonPro-Italic;
    font-size: 20px;
    font-weight: lighter;
    color: 5A5A5A;
}

#date{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.book-article--image{
    flex: 1;
    object-fit: cover;
    max-width: 100%; 
    height: auto;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

.book-article--image img {
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .book-article {
        flex-direction: column;
        align-items: center;
    }

    .book-article--content {
        max-width: 70%;
        text-align: center;
    }

    .book-article--image img {
        max-width: 100%;
    }
}